header {
  display: flex;
  width: 950px;
  background-color: cadetblue;
  justify-content: space-between;
  margin: auto;
  }

#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main{
  width:950px;
  margin: auto;
}
.border{
  background-repeat:repeat;
  background-image: url("/img/hr-img.png");
  width: 950px;
  margin: auto;
  height: 15px;
  margin: 30px auto 30px auto;
}
.borderimage{
  height:20px;
}

ul{
  columns: 2;
  background-image: url("img/notebookbackgrd-bg.png");
  z-index: 1;
}

#notepad {
  z-index: 1;
  width:950px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
}
footer{
  margin:auto;
  width:950px;

}
main div:last-of-type{
  display:flex;
  justify-content: space-around;
}
a{
  border: rgb(184, 56, 56) solid 20px; 
  width:120px;
  height:15px;
  background-color: rgb(184, 56, 56);
  color:white;
  text-decoration: none;
}
#centerFoot{
  margin-top:20px;
}
#cake{
  width:950px;
}